rtgc/bin/
rtgc/.idea
java/classes
java/out
csharp/obj
java/.idea
rtgc/rtgc.xcodeproj/xcuserdata
rtgc/rtgc.xcodeproj/project.xcworkspace/xcuserdata
dotnet/obj
dotnet/bin
dotnet/.vs/
rtgc-cpp/
test-result.csv
runtimeconfig.template.json
test-results
gctest.out
objc/gctest.xcodeproj/project.xcworkspace/xcuserdata
.local
test-results copy
rtgc2/rtgc.xcodeproj/project.xcworkspace/xcuserdata
rtgc2/rtgc.xcodeproj/xcuserdata
cpp/obj
objc/gctest.xcodeproj/xcuserdata
benchmark/cpp/obj
benchmark/dotnet/obj
benchmark/java/.idea
benchmark/java/classes
benchmark/objc/gctest.xcodeproj/project.xcworkspace/xcuserdata
benchmark/objc/gctest.xcodeproj/xcuserdata
benchmark/dotnet/bin
main.out
rtgc/obj
